nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href="/") Karzaa

    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li
          a(href="/") All Applications
        li
          a(href="/applications/add") Add New
